* {
  margin:0;

  padding:0; 
}
.type-477{
    .title{
        .menu{
             float: right;
             font-weight:bold;
        }
        .menu ul{
        list-style-type: none;
        background: red;
        text-align: center;
        }
        .menu ul li{
        border:none;
        padding:1px;
        color: #FFF;
        display:inline-table;
        width:120px;
        height:40px;
        line-height: 40px;
        position: relative;
        }
        .menu ul li a{
        color: #FFF;
        text-decoration: none;
        display: block;
        }
        .menu ul li a:hover{
        background: yellow;
        color: black;
        }
        .menu ul li > .mega-menu{
        display:none;
        position: absolute;
        }
        .menu ul li:hover .mega-menu{
        display:block;
        }
        a{
            color: #000;
            text-decoration: none;
        }
        a:hover {
            text-decoration: none;
        } 
        .nav {
            
            margin-bottom: 0;
            list-style: none;
        }

        dl, ol, ul {
            margin-top: 0;
            margin-bottom: 1rem;
        }
        .menu-item {
            display: inline-block;
            color: #959595;
            font-size: .929em;
        }
        .menu-item>a i {
            margin-right: 6px;
            font-size: 1rem;
        }

      
    }




        h5{
            margin-bottom: -25px;
        }
    .top-bar {
        border-bottom: 1px solid #ddd;
        padding: 0 0;
    }
     .gensearch_form{
            padding-top: 8%;
        }
      
  .navbar-default {
    background-color: unset;
    border-color: white;
    margin-bottom: 0px;
}
    .gensearch_input {
          height: 40px;
    width: 70%;
    padding: 0 20px;
    border: 3px solid #fed700;
    }
   
    .gensearch_submit {
        position: absolute;
    border: 0;
    color: #BBB;
    background-color: transparent;
    height: 100%;
    padding: -1px 20px;
    font-size: 18px;
    margin-left: -26px;
    padding-top: 65px;

    }
    .logo{
    text-align:center;
    }
    img{
    max-width: 100%;
    height: auto;
    }
 
  @media screen {
  @media (max-width: 767px) {
    .gensearch_form {
 padding-top: unset; 
}
     .gensearch_submit {
   
    padding-top: 0;

    }
    .gensearch_input {
    height: 40px;
    width: 100%;
    padding: 0 20px;
    border: 3px solid #fed700;
}
   
  }
}
}