* {
  margin: 0;
  padding: 0;
}
.type-477 .title .menu {
  float: right;
  font-weight: bold;
}
.type-477 .title .menu ul {
  list-style-type: none;
  background: red;
  text-align: center;
}
.type-477 .title .menu ul li {
  border: none;
  padding: 1px;
  color: #FFF;
  display: inline-table;
  width: 120px;
  height: 40px;
  line-height: 40px;
  position: relative;
}
.type-477 .title .menu ul li a {
  color: #FFF;
  text-decoration: none;
  display: block;
}
.type-477 .title .menu ul li a:hover {
  background: yellow;
  color: black;
}
.type-477 .title .menu ul li > .mega-menu {
  display: none;
  position: absolute;
}
.type-477 .title .menu ul li:hover .mega-menu {
  display: block;
}
.type-477 .title a {
  color: #000;
  text-decoration: none;
}
.type-477 .title a:hover {
  text-decoration: none;
}
.type-477 .title .nav {
  margin-bottom: 0;
  list-style: none;
}
.type-477 .title dl,
.type-477 .title ol,
.type-477 .title ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
.type-477 .title .menu-item {
  display: inline-block;
  color: #959595;
  font-size: .929em;
}
.type-477 .title .menu-item>a i {
  margin-right: 6px;
  font-size: 1rem;
}
.type-477 h5 {
  margin-left: 40px;
  margin-bottom: -25px;
}
.type-477 .top-bar {
  border-bottom: 1px solid #ddd;
  padding: 0 0;
  margin-bottom: 30px;
}
.type-477 .gensearch_form {
  padding-top: 9%;
}
.type-477 .navbar-default {
  background-color: unset;
  border-color: white;
  margin-bottom: 0px;
  z-index: 1030;
  position: fixed;
  opacity: 1;
  right: 0;
  left: 0;
}
.type-477 .gensearch_input {
  height: 40px;
  width: 70%;
  padding: 0 20px;
  border: 3px solid #fed700;
}
.type-477 .gensearch_submit {
  position: absolute;
  border: 0;
  color: #BBB;
  background-color: transparent;
  height: 100%;
  padding: -1px 20px;
  font-size: 18px;
  margin-left: -26px;
  padding-top: 70px;
}
.type-477 .logo {
  text-align: center;
}
.type-477 img {
  max-width: 100%;
  height: auto;
}
.type-477 .navbar-right {
  background-color: white;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .type-477 .gensearch_submit {
    padding-top: 59px;
  }
  .type-477 .gensearch_form {
    padding-top: 9%;
  }
}
@media screen and (max-width: 321px) {
  .type-477 h5 {
    font-size: 13px;
  }
}
@media screen and (max-width: 767px) {
  .type-477 h5 {
    margin-left: 20px;
  }
  .type-477 .gensearch_form {
    padding-top: unset;
  }
  .type-477 .gensearch_submit {
    padding-top: 0;
  }
  .type-477 .gensearch_input {
    height: 40px;
    width: 100%;
    padding: 0 20px;
    border: 3px solid #fed700;
  }
}
